upstream php {
    server{{ ' ' }}
    {%- if groups.php[0] == groups.nginx[0] -%}
        127.0.0.1
    {%- else -%}
        {{ groups.php[0] }}
    {%- endif -%}
    :9000;
}

server {
    listen 443 ssl http2;
    server_name {{ server_name }};
    root /var/www/html;
    #WILL_BE_UNCOMMENTED_BY_ANSIBLE_TASK#ssl_certificate /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
    #WILL_BE_UNCOMMENTED_BY_ANSIBLE_TASK#ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem;
    #WILL_BE_UNCOMMENTED_BY_ANSIBLE_TASK#ssl_trusted_certificate /etc/letsencrypt/live/{{ server_name }}/chain.pem;

    location ~ \.php$ {
        # TODO: smth else?
        fastcgi_pass php;
        fastcgi_param HTTPS on;
    }

    location /static/ {
        alias /var/www/html/static;
    }
}
