upstream php {
    server {{ groups['php'][0] }}:9000;
}

server {
    listen 443 ssl http2;
    # TODO: ssl_certificate /etc/ssl/bundle.crt;
    # TODO: ssl_certificate_key /etc/ssl/moy_domen.key;
    server_name {{ server_name }};
    root /var/www/html;

    location ~ \.php$ {
        # TODO: smth else?
        fastcgi_pass php;
        fastcgi_param HTTPS on;
    }

    location /static/ {
        alias /var/www/html/static;
    }
}
